<div class="jumbotron">
    <h1>YerbaSoft Games</h1>
    <p class="lead">Portal de Juegos Online</p>
    <!--<p><a href="https://es.wikipedia.org/wiki/Cluedo" class="btn btn-primary btn-large">Leer más &raquo;</a></p>-->
</div>

<div class="row login">
    <div class="col-md-5 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">Login YerbaSoft Games</div>
            <div class="panel-body">
                
                @using (Html.BeginForm("Acceder", "Home", FormMethod.Post, new { role = "form" }))
                {
                    <div class="form-group">
                        <label for="txtUserName">Usuario</label>
                        <input id="txtUserName" name="txtUserName" type="text" class="form-control" placeholder="Usuario" autofocus />
                    </div>
                    <div class="form-group">
                        <label for="txtPassword">Constrase&ntilde;a</label>
                        <input id="txtPassword" name="txtPassword" type="password" class="form-control" placeholder="Constrase&ntilde;a">
                    </div>
                    <div class="form-group">
                        <div id="divError" class="alert @ViewBag.MsgState" style="display:@{@ViewBag.MsgState}">
                            <button type="button" class="close" data-dismiss="alert" onclick="$('#divError').hide();">&times;</button>Usuario / contrase&ntilde;a incorrecto.
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default pull-right">Ingresar</button>
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            <p><a class="btn btn-default" href="~/Security/Usuario/">Soy Nuevo Usuario</a></p>
        </div>
    </div>
</div>