<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YerbaSoft.Web.Games.Clue.DAL.Properties.Settings.YerbaSoft_Games_Web_ClueConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\YerbaSoft.Web.Games.Clue.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=False;Context Connection=False"
            providerName="System.Data.SqlClient" />
        <add name="YerbaSoft.Web.Games.Clue.DAL.Properties.Settings.YerbaSoft_Games_Web_ClueConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\YerbaSoft.Web.Games.Clue.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="YerbaSoft.Web.Games.Clue.DAL.Properties.Settings.YerbaSoft_Games_Web_ClueConnectionString2"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=W:\YerbaSoft\Games\Web\YerbaSoft.Web.Games.Clue.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>