<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Origen" value="W:\src\YerbaSoft\Desktop\YerbaSoft.Desktop.PW\YerbaSoft.Desktop.PW\bin\Debug" />
    <add key="Destino" value="W:\app\YerbaSoft.Desktop.PW" />
    <add key="App" value="YerbaSoft.Desktop.PW.exe" />
  </appSettings>
</configuration>